<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span><!--img src="../../assets/devglan.png"--></span>
    <span class="example-fill-remaining-space"></span>
    <span class="example-spacer"></span>

    <button mat-button>About</button>
    <button mat-button>Contact</button>
  </mat-toolbar-row>
</mat-toolbar>

<mat-card class="example-card example-card-small">
  <mat-card-header>
    <mat-card-title>
      <h2>Create User</h2>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form class="example-form" (keyup.enter)="create()">
      <table class="example-full-width" cellspacing="0">
        <tr>
          <td>
            <mat-form-field class="example-full-width">
              <input matInput placeholder="First Name" [(ngModel)]="firstName" name="firstName" type="text" required>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Last Name" [(ngModel)]="lastName" name="lastName" type="text" required>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field class="example-full-width">
              <input matInput placeholder="E-Mail" [(ngModel)]="email" name="email" type="text" required>
            </mat-form-field>
          </td>
        </tr>
      </table>
      <div *ngIf="invalidData" class="error">
        <div>Invalid Data.</div>
      </div>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button (click)="create()" color="primary">Create User</button>
  </mat-card-actions>
</mat-card>